<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.JS</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<button v-on:click="title = 'New Title'">Changed</button>
	<div id="app">
		<p>{{ title }}</p>
	</div>

	<div id="app2">
		<span v-bind:title="message">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quae!
		</span>
	</div>

	<div id="app3">
		<p v-if="seen">Now you see me</p>
	</div>

	<div id="app7">
		<ol>
			<!-- Now we provide each todo-item with the todo object    -->
			<!-- it's representing, so that its content can be dynamic -->
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		</ol>
	</div>
	<script>
		// app
		var app = new Vue({
			el: '#app',
			data: {
				title: 'Hello World'
			}
		});

		// app2
		var app2 = new Vue({
			el: '#app2',
			data: {
				message: 'You loaded this page on ' + new Date()
			}
		});

		// app3
		var app3 = new Vue({
			el: '#app3',
			data: {
				seen: false
			}
		});

		// app7
		Vue.component('todo-item',{
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		});
		var app7 = new Vue({
			el: '#app7',
			data: {
				groceryList: [
					{text: 'Vegetables'},
					{text: 'Cheese'},
					{text: 'Whatever else humans are supposed to eat'}
				]
			}
		});
	</script>
</body>
</html>