<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.JS</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<button v-on:click="title = 'New Title'">Changed</button>
	<div id="app">
		<p>{{ title }}</p>
	</div>

	<div id="app2">
		<span v-bind:title="message">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quae!
		</span>
	</div>

	<!-- // Conditionals and Loops -->
	<div id="app3">
		<p v-if="seen">Now you see me</p>
	</div>

	<div id="app7">
		<ol>
			<!-- Now we provide each todo-item with the todo object    -->
			<!-- it's representing, so that its content can be dynamic -->
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		</ol>
	</div>

	<div id="app4">
		<ol>
		    <li v-for="todo in todos">
		    	{{ todo.text }}
		    </li>
		</ol>
	</div>

	<div id="app5">
		<p>{{ message }}</p>
		<button type="button" class="btn btn-primary" v-on:click='reverseMessage'>Reverse Message</button>
	</div>

	<div id="app6">
		<!-- Hello VueJS -->
		<p>{{ message }}</p>
		<!-- Same attribute value of input -->
		<!-- Hello VueJS -->
		<input v-model="message">

	</div>

	<script>
		// app
		var app = new Vue({
			el: '#app',
			data: {
				title: 'Hello World'
			}
		});

		// app2
		var app2 = new Vue({
			el: '#app2',
			data: {
				message: 'You loaded this page on ' + new Date()
			}
		});

		// app3 : Conditionals and Loops
		var app3 = new Vue({
			el: '#app3',
			data: {
				seen: true
			}
		});

		// app4 : For
		var app4 = new Vue({
			el: '#app4',
			data: {
				todos: [
					{ text: 'Learn JavaScript'},
					{ text: 'Learn Vue'},
					{ text: 'Build Something awesome'}
				]
			}
		});

		// app5 : Handling User Input
		// v-on:click
		// methods:
		var app5 = new Vue({
			el: '#app5',
			data: {
				message: 'Hello VueJS'
			},
			methods: {
				reverseMessage: function(){
					this.message = this.message.split('').reverse().join('')
				}
			}
		});

		// app6 : v-model
		var app6 = new Vue({
			el: '#app6',
			data: {
				message: 'Hello VueJS'
			}
		});

		// app7
		Vue.component('todo-item',{
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		});
		var app7 = new Vue({
			el: '#app7',
			data: {
				groceryList: [
					{text: 'Vegetables'},
					{text: 'Cheese'},
					{text: 'Whatever else humans are supposed to eat'}
				]
			}
		});
	</script>
</body>
</html>